h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}